---
import Layout from "../../layouts/Layout.astro";

import PlaylistItemCard from "@/components/PlaylistItemCard.astro";
import { allPlaylists, songs } from "@/lib/data";

const { id } = Astro.params;

const playlist = allPlaylists.find((playlist) => playlist.id === id);
const playlistSongs = songs.filter(
	(song) => song.albumId === playlist?.albumId,
);

const artistString = playlist?.artists.join(", ");
const songsNumber = playlistSongs.length;
---

<Layout title="Welcome to Astro.">
	<div
		id="playlist-container"
		class="relative flex flex-col h-full bg-zinc-900 overflow-x-hidden"
		transition:name=`playlist ${id} box`
	>
		<!-- page header -->

		<header class="flex px-2 items-center gap-8 mt-10">
			<picture class="aspect-square w-52 h-52 flex-none">
				<img
					src={playlist?.cover}
					alt={`Cover of ${playlist?.title}`}
					class="object-cover w-full rounded-md"
					transition:name=`playlist ${playlist?.id} image`
				/>
			</picture>
			<div class="flex flex-col">
				<h5 class="text-zinc-200 text-xs">Playlist</h5>
				<h2 class="text-6xl mt-2 font-bold text-white">{playlist?.title}</h2>
				<p class="mt-2 text-zinc-300 text-sm font-light">{artistString}</p>
				<p class="mt-2 text-zinc-300 text-sm">{songsNumber} canciones</p>
			</div>
		</header>

		<div class="relative z-10 px-6 pt-10"></div>
		<div
			class="absolute inset-0 bg-gradient-to-t from-zinc-900 via-zinc-900/80 -z-10"
		>
		</div>
	</div>
</Layout>
