---
import type { Playlist } from "@/lib/data";

interface Props {
	playlist: Playlist;
}

const { playlist } = Astro.props;
const { id, title, cover, artists, color } = playlist;

const artistString = artists.join(", ");
---

<a
	href={`playlist/${id}`}
	class="playlist-item flex relative p-2 overflow-hidden gap-5 rounded-md bg-zinc-800/50 hover:bg-zinc-900 shadow-lg hover:shadow-xl transition-all ease-in-out w-44 flex-col pb-6"
	transition:name=`playlist ${id} box`
>
	<picture class="aspect-square w-full h-auto flex-none">
		<img
			src={cover}
			alt={`Cover of ${title}`}
			class="object-cover w-full rounded-md"
			transition:name=`playlist ${id} image`
		/>
	</picture>
	<div class="flex flex-auto flex-col">
		<h4 class="text-zinc-200 text-xs">{title}</h4>
		<span class="text-zinc-500 text-[11px]">{artistString}</span>
	</div>
</a>
